@import 'constants.css';

body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: var(--background-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: var(--button-background);
  color: var(--text-secondary);
  border-radius: 12px;
  border: 2px solid var(--button-border);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-hover-background);
  color: var(--button-background);
  border: 2px solid var(--button-hover-border);
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: var(--button-background);
  color: var(--text-secondary);
  border-radius: 12px;
  border: 2px solid var(--button-border);
}
