@import 'constants.css';

body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: var(--background-primary);
  color: var(--text-primary);
  
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: var(--button-background);
  color: var(--text-secondary);
  border-radius: 12px;
  border: 2px solid var(--button-border);
  box-shadow: 1px 1px 2px var(--shadow-primary);
  transition: 0.3s;
}

.answerButton:hover {
  background-color: var(--button-hover-background);
  color: var(--button-background);
  border: 2px solid var(--button-hover-border);
  box-shadow: 1px 1px 2px var(--shadow-secondary);
}

.style-script-regular {
  font-family: "Style Script", serif;
  font-weight: 400;
  font-style: normal;
}
